*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color: #2F303A;
  --link-button-color: #2196F3;
  --content-color: #757575;
  --title-color: #212121;
  --primary-color: white;
  --second-color: black;
  --button-stat-color: #F5F4FA;
  --footer-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: #AFB1B8;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: var(--content-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
  position: relative;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon-color);
  background-color: var(--primary-color);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--link-button-color);
  color: var(--primary-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  max-width: 528px;
  /* height: 95%; */
  height: 581px;
  /* overflow: scroll;*/
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.closeicon {
  position: absolute;
  width: 11px;
  height: 11px;
}

.form-container__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--title-color);
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper {
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  fill: var(--title-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-wrapper__input {
  position: relative;
  margin-top: 4px;
  fill: var(--content-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper__input:hover .modal-form,
.form-wrapper__input:hover .modal-form__icon,
.form-wrapper__input:focus .modal-form,
.form-wrapper__input:focus .modal-form__icon {
  fill: var(--link-button-color);
}

.form-wrapper__input:hover .modal-form,
.form-wrapper__input:focus .modal-form {
  border: 1px solid var(--link-button-color);
}

.modal .modal-button {
  padding: 10px 76px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-wrapper__title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover {
  border: 1px solid var(--link-button-color);
  fill: var(--link-button-color);
}

/* Check */
.check {
  padding-left: 1.2em;
  position: relative;
}

.modal-link {
  color: var(--link-button-color);
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 0.1em #4A90E2;
          box-shadow: 0 0 0 0.1em #4A90E2;
}

.check-box-inf {
  margin-left: 7px;
}

/* Checked */
.check__input:checked + .check__box {
  background-color: var(--link-button-color);
  background-image: url(./images/Vector.svg);
}

/* Focused */
.check__input:focus + .check__box {
  -webkit-box-shadow: 0 0 0 0.1em #4A90E2, 0 0 0 0.2em #7ED321;
          box-shadow: 0 0 0 0.1em #4A90E2, 0 0 0 0.2em #7ED321;
}

/* Disabled */
.check__input:disabled + .check__box {
  -webkit-box-shadow: 0 0 0 0.1em #9B9B9B;
          box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}

.link {
  text-decoration: none;
  color: var(--content-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 570px;
  margin-left: auto;
}

.footer-form .footer-banner__title {
  color: var(--primary-color);
  max-width: 358px;
  margin-right: 12px;
  position: relative;
}

.input-email {
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 0;
  margin-top: 20px;
  padding-left: 16px;
  color: var(--primary-color);
}

.footer-button {
  position: relative;
  border-style: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding-left: 48px;
  text-align: left;
  background: var(--button-stat-color);
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--link-button-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-button .footer-button__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: currentColor;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--second-color);
  text-decoration: none;
}

.menu-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  margin-left: 93px;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.main-nav__link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding: 32px 0;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__item {
  text-decoration: none;
  position: relative;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--link-button-color);
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.footer-banner__logo--blue {
  color: var(--link-button-color);
}

.header-contact {
  text-decoration: none;
  line-height: 1.17;
  color: var(--content-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: auto;
  padding: 32px 0;
}

.main-nav__link:hover,
.header-pn:hover,
.footer-banner__item--f-color:hover,
.footer-tel-no:hover,
.footer-banner__item--f-color:hover,
.link:hover,
.footer-banner__logo--white:hover {
  color: var(--link-button-color);
  fill: var(--link-button-color);
}

.current {
  color: var(--link-button-color);
  position: relative;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.contact-icon-phone {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.banner {
  padding: 200px 0;
  text-align: center;
  background-color: var(--bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bannerimage.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bannerimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.banner__title {
  color: var(--primary-color);
  width: 696px;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.banner__button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background: var(--button-stat-color);
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--link-button-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-card {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section-card__item {
  width: 270px;
}

.section-card__background {
  width: 270px;
  height: 120px;
  background-color: var(--button-stat-color);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.section-card__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--title-color);
  margin-bottom: 10px;
}

.section-card__icon {
  height: 70px;
  width: 70px;
}

.section-card__content {
  line-height: 1.71;
}

.section-work {
  padding-top: 0;
  padding-bottom: 94px;
}

.section-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.label {
  font-weight: 700;
  color: var(--primary-color);
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-team {
  background-color: var(--button-stat-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section-team__item {
  background-color: var(--primary-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team__image {
  width: 270px;
}

.section-team__content {
  padding: 30px 0;
  text-align: center;
}

.section-team__name {
  color: var(--title-color);
  margin-bottom: 10px;
}

.section-team__descripion {
  font-size: 16px;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.section-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid currentColor;
  color: var(--social-icon-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__link:hover,
.section-clients__link:focus {
  color: var(--link-button-color);
}

.section-clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

div.footer-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-banner__container-social {
  margin-left: 70px;
}

.footer-banner {
  background-color: var(--bg-color);
  padding: 60px 0;
}

.footer-banner__link {
  text-decoration: none;
  color: inherit;
}

.footer-banner__title {
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1.14;
}

.footer-banner__address {
  font-style: normal;
  line-height: 1.71;
}

.footer-banner__item {
  color: var(--primary-color);
  margin-bottom: 9px;
}

.footer-banner__item--f-color {
  padding-left: 0;
  color: var(--footer-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-banner__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.footer-banner__logo--white {
  color: var(--primary-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item {
  margin-bottom: 9px;
}

.footer {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-color);
  border-radius: 50%;
}

.footer-button__icon {
  fill: white;
}

.b-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-color);
  background-color: var(--button-stat-color);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.b-portfolio:hover {
  background-color: var(--link-button-color);
  color: var(--primary-color);
}

.first-list {
  display: inline;
}

.section-buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-color);
  background-color: var(--button-stat-color);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__title:hover,
.button-list__title:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--link-button-color);
  color: var(--primary-color);
}

.container-portfolio {
  padding-top: 50px;
  padding-bottom: 94px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  color: currentColor;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay {
  overflow: hidden;
  position: relative;
}

.portfolio__hover-overlay p {
  color: var(--primary-color);
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio__hover-overlay {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__hover-overlay,
.portfolio__link:focus .portfolio__hover-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.f-portfolio {
  width: 370px;
  height: 404px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px;
}

.portfolio-description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  position: relative;
}

h3.portfolio-description__title-left {
  margin: 0;
  color: var(--title-color);
}

.portfolio__link:hover,
.portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description__content {
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.portfolio-description_title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */