.section-card {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    .section-card__list {
        display: flex;
        flex-wrap: wrap;
    
        .section-card__item {
            margin-bottom: 30px;

            .section-card__background {

                height: 120px;
                background-color: var(--button-stat-color);
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
        
                .section-card__icon {
                    width: 65px;
                    height: 70px;
        
                }
            }
            .section-card__title {
                font-size: 14px;
                font-weight: 700;
                line-height: 1.14;
                color: var(--title-color);
                margin-bottom: 10px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
            }
            .section-card__content {
                line-height: 1.71;
            }
                        
        }


    }
}

@media screen and (min-width: 480px) {
    .section-card {
        .section-card__list {
            display: flex;
            flex-wrap: wrap;
                .section-card__item {
                    .section-card__background {
                        height: 120px;
                        background-color: var(--button-stat-color);
                        margin-bottom: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                            .section-card__icon {
                                width: 65px;
                                height: 70px;
                                            
                            }
                        }
    
                    .section-card__title {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 1.14;
                        color: var(--title-color);
                        margin-bottom: 10px;
                        text-align: center;
                    }
    
                    .section-card__content {
                        line-height: 1.71;
                        margin-bottom: 30px;
                    }
                }
       
        }
    }
}

@media screen and (min-width: 768px) {
    .section-card {
        padding-top: 94px;
        padding-bottom: 94px;

        .section-card__list {
            display: flex;
            flex-wrap: nowrap;
            gap: 30px;

            .section-card__item {
                margin-bottom: 30px;
    
                .section-card__background {
                    height: 120px;
                    background-color: var(--button-stat-color);
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    .section-card__icon {
                            height: 70px;
                            width: 70px;
                    
                    }
                }

                .section-card__title {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.14;
                    color: var(--title-color);
                    margin-bottom: 10px;
                }

                .section-card__content {
                    line-height: 1.71;
                }
                li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .section-card {
        padding-top: 94px;
        padding-bottom: 94px;
        
        .section-card__list {
            display: flex;
            gap: 30px;
            flex-wrap: nowrap;
            
            .section-card__item {
                width: 270px;
                .section-card__background {
                    height: 120px;
                    background-color: var(--button-stat-color);
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
        
                        .section-card__icon {
                            height: 70px;
                            width: 70px;
                        }
                }
        
                .section-card__title {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.14;
                    color: var(--title-color);
                    margin-bottom: 10px;
                }
            
                .section-card__content {
                    line-height: 1.71;
                }
                        
            }
        }
    }
}



