.footer-banner {
    background-color: var(--bg-color);
    min-width: 320px;
    padding: 60px 0;
    .footer-banner__container {
    margin: 0 auto;
        padding: 0 15px;
        align-items: center;
        .footer-banner__logo {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.17;
            margin-bottom: 20px;
            text-align: center;
            .footer-banner__link {
                text-decoration: none;
                color: inherit;
                .footer-banner__logo--white {
                    color: var(--primary-color);
                    transition-property: color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    &:hover {
                        color: var(--link-button-color);
                    }
                
                }
            .footer-banner__logo--blue {
                color: var(--link-button-color);
            }
            
            
            }
        }
        .footer-banner__address {
            font-style: normal;
            font-size: 14px;
            text-align: center;
            .footer-banner__item {
                    color: var(--primary-color);
                    margin-bottom: 8px;
                    line-height: 1.71;
                }
        }
        .footer-banner__container-social {
            text-align: center;
            margin-top: 60px;

            .footer-banner__title {
                color: var(--primary-color);
                font-weight: 700;
                line-height: 1.14;
                text-align: center;
            }
        }
            .footer-banner__item--f-color {
                padding-left: 0;
                margin-bottom: 8px;
                color: var(--footer-color);
                text-decoration: none;
                transition-property: color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
            .footer {
                background: rgba(255, 255, 255, 0.1);
                fill: var(--primary-color);
                border-radius: 50%;
            }
    
    }

}    

@media screen and (max-with: 1199px) {
    .footer-banner {
        min-width: auto;
        .footer-banner__container {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            
            .footer-banner__logo {
                font-size: 26px;
                line-height: 1.19;
                margin-bottom: 20px;
            
                .footer-banner__link {
            
                    .footer-banner__logo--white {
                        color: var(--primary-color);
                        transition-property: color;
                        transition-duration: 250ms;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    }                       
                }
            }
            
            .footer-banner__address {
                font-style: normal;
                line-height: 1.71;
            
                .footer-banner__item {
                    color: var(--primary-color);
                    margin-bottom: 9px;
                    }
            }
            
            .footer-banner__container-social {
                margin-left: 70px;
            
                .footer-banner__title {
                    color: var(--primary-color);
                    font-weight: 700;
                    line-height: 1.14;
                }
            }
            
           .footer-banner__item--f-color {
                padding-left: 0;
                color: var(--footer-color);
                text-decoration: none;
                transition-property: color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .footer {
                background: rgba(255, 255, 255, 0.1);
                fill: var(--primary-color);
                border-radius: 50%;
            }
            
        }
            
    }
            
}
    
@media screen and (min-with: 1200px) {
    .footer-banner { 
        padding: 60px 0;
        .footer-banner__container {
            display: flex;
            align-items: baseline;
            flex-direction: row;
    
            .footer-banner__logo {
                font-size: 26px;
                line-height: 1.19;
                margin-bottom: 20px;
    
                .footer-banner__link {
    
                    .footer-banner__logo--white {
                        color: var(--primary-color);
                        transition-property: color;
                        transition-duration: 250ms;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    .footer-banner__logo--blue {
                        color: var(--link-button-color);
                    }
    
    
                }
            }
    
            .footer-banner__address {
                font-style: normal;
                line-height: 1.71;
    
                .footer-banner__item {
                    color: var(--primary-color);
                    margin-bottom: 9px;
                    .footer-banner__item--f-color {
                        padding-left: 0;
                        color: var(--footer-color);
                        text-decoration: none;
                        transition-property: color;
                        transition-duration: 250ms;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }
            }
    
            .footer-banner__container-social {
                margin-left: 70px;
    
                .footer-banner__title {
                    color: var(--primary-color);
                    font-weight: 700;
                    line-height: 1.14;
                }
            }
        }
    
    }

}























