
.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    .container {
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          font-family: 'Raleway';
          font-style: normal;
          font-size: 26px;
          line-height: 1.19;
          font-weight: 700;
          color: var(--second-color);
          text-decoration: none;
          .footer-banner__logo--blue {
            color: var(--link-button-color);
          }
        }
        .main-nav {
          display: none;
        }
        .header-contact {
          display: none;
        }
                                    
    }
        .menu-container {
          font-weight: 500;
          height: 100%;
          display: flex;
          flex-direction: column;

          .menu-toggle {
            min-height: 40px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            outline: none;
          }
          .mobile-menu {
            padding: 0;
            margin: 0;
            list-style: none;
            .mobile-current {
              color: var(--link-button-color);
            }
          }
          .mobile-menu__social-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            margin-top: 64px;
            row-gap: 10px;
            .mobile-menu__social-list__item a {
              color: var(--link-button-color);
              font-weight: 500;
              font-size: 18px;
              line-height: 1.22;
              letter-spacing: 0.02em;
              margin-right: 10px;
              padding-right: 10px;
              border-right: 1px solid rgba(33, 33, 33, 0.2);
            }
            .mobile-menu__social-list__item .mobile-menu__social-list__item-no-border {
              border-right:none;
            }
          }
          .menu-container__header-contact {
            text-decoration: none;
            line-height: 1.17;
            color: var(--content-color);
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: auto;
            .menu-container__header-contact-bigsize {
              font-size: 34px;
              line-height: 1.18;
              color: var(--link-button-color);
            }
            .menu-container__header-contact-bigsize-email {
              font-size: 24px;
              line-height: 1,17;
              letter-spacing: 0.02em;
            }
            .contact-icon {
              display: none;
            }
    
            .contact-icon-phone {
                display: none;
            }

          }
      }
}


@media sreen and (max-width: 767px) {
  .header-contact {
    text-decoration: none;
    line-height: 1.17;
    color: var(--content-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
    padding: 32px 0;
    .contact-icon {
      display: none;
    }
  
    .contact-icon-phone {
       display: none;
    }
  }
}


.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--primary-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--title-color);
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .page-header {
    .container {
      min-height: 80px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .menu-toggle {
        display: none;
      }
      .menu-container {
        display: none;
        .mobile-menu {
          display: none;
        }
        .menu-container__header-contact {
          display: none;
        }
        .mobile-menu__social-list {
          display: none;
        }
      }

  
      .logo {
        font-family: 'Raleway';
        font-style: normal;
        font-size: 24px;
        line-height: 1.19;
        font-weight: 700;
        color: var(--second-color);
        text-decoration: none;
  
        .footer-banner__logo--blue {
        color: var(--link-button-color);
        }
      }
      .main-nav {
        display: flex;
        margin-left: 83px;
    
        .main-nav__list {
          display: flex;
          gap: 60px;
    
          .main-nav__item {
            text-decoration: none;
            position: relative;
    
            .main-nav__link {
              color: var(--title-color);
              font-weight: 500;
              font-size: 14px;
              line-height: 1.14;
              text-decoration: none;
              padding: 32px 0;
              display: block;
              transition-property: color;
              transition-duration: 250ms;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
          }
        }
      }
      .header-contact {
        display: flex;
        flex-direction: column;
        margin-left: 101px;
        .header-contact__link {
          font-size: 12px;
        }
      
        .contact-icon {
          margin-right: 10px;
          fill: currentColor;
          width: 14px;
          height: 10px;
        }
        .contact-icon-phone {
          width: 10px;
          height: 14px;
          margin-right: 10px;
          fill: currentColor;
        }
      }
    }
  }
}

  @media screen and (min-width: 1200px) {
  .page-header {
    .container {
      .menu-toggle {
        display: none;
      }
      .mobile-menu {
        display: none;
        .mobile-menu__social-list {
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) { 
  .page-header {
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
    .logo {
        font-family: 'Raleway';
        font-style: normal;
        font-size: 26px;
        line-height: 1.19;
        font-weight: 700;
        color: var(--second-color);
        text-decoration: none;
        .footer-banner__logo--blue {
            color: var(--link-button-color);
        }
    }
    .menu-toggle {
      display: none;
    }
    .menu-container {
      display: none;
      .mobile-menu {
        display: none;
      }
      .menu-container__header-contact {
        display: none;
      }
      .mobile-menu__social-list {
        display: none;
      }
    }      
    .main-nav {
      display: flex;
      margin-left: 93px;

      .main-nav__list {
        display: flex;
        gap: 50px;

        .main-nav__item {
          text-decoration: none;
          position: relative;

          .main-nav__link {
            color: var(--title-color);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            text-decoration: none;
            padding: 32px 0;
            display: block;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
      }
    }
    .header-contact {
      text-decoration: none;
      line-height: 1.17;
      color: var(--content-color);
      display: flex;
      gap: 30px;
      margin-left: auto;
      padding: 32px 0;
    
      .contact-icon {
        margin-right: 10px;
        fill: currentColor;
        width: 16px;
        height: 12px;
      }
    
      .contact-icon-phone {
        width: 12px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
      }
    }
  }
}
}

 

  


.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--link-button-color);
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}






.main-nav__link:hover,
.header-pn:hover,
.footer-banner__item--f-color:hover,
.footer-tel-no:hover,
.footer-banner__item--f-color:hover,
.link:hover,
svg:hover,
.footer-banner__logo--white:hover {
  color: var(--link-button-color);
  fill: var(--link-button-color);
}

.current {
  color: var(--link-button-color);
  position: relative;
}
