.section-team {
    background-color: var(--button-stat-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 50px;
}

.section-team__list {
    display: flex;
    gap: 30px;
}
.section-team__item {
    background-color: var(--primary-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.section-team__image {
    width: 270px;
}
.section-team__content {
    padding: 30px 0;
    text-align: center;
}
.section-team__name {
    color: var(--title-color);
    margin-bottom: 10px;
}
.section-team__descripion {
    font-size: 16px;
}