.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}

.section-work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 50px;
}

.image-list {
    display: flex;
    gap: 30px;
}

.label {
    font-weight: 700;
    color: var(--primary-color);
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}