
    $bg-color: #2F303A;
    $link-button-color: #2196F3;
    $content-color: #757575;
    $title-color: #212121;
    $primary-color: white;
    $second-color: black;
    $button-stat-color: #F5F4FA;
    $footer-color: rgba(255, 255, 255, 0.6);
    $social-icon-color: #AFB1B8;
